*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

/* BODY CONTENTS */



body header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Navbar left(MAIN NAVIGATION BAR) */

body header nav img{
    width: 12rem;
    height: 2rem;
    margin-bottom: 2rem;
}

ul{
    list-style: none;
    line-height: 2rem;
    font-size: 17px;
}

.list__one{
    margin-bottom: 3rem;
}

.list__one li{
    color: gray;
}

.list__two{
    margin-bottom: 20rem;
}

.list__two li{
    color: gray;
}

body header nav{
    background-color: black;
    padding: 2rem;
    flex-basis: 20%;
    display: block;
    height: 100vh;
    position:fixed;
    z-index: 1;
}

body header section{
    background-color: rgb(13, 13, 13);
    flex-basis: 80%;
}

.footer__elem a{
    text-decoration: none;
    padding: 0.5rem;
    color: gray;
}

.footer__elem{
    line-height: 2rem;
    font-size: 12px;
}

/* For the navbar in the second section on the right */

.nav__one{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-end;
    height: 4.5rem;
    align-items: center;
    padding-right: 4rem;
    width: 100vw;
    position: fixed;
}

.nav__one ul{
    gap: 3rem;
    display: flex;
}

.nav__one ul a{
    text-decoration: none;    
    font-weight: 600;
}

/* Styling for the nav buttons */

.login__btn{
    background-color: white;
    color: rgb(187, 56, 8);
    padding: 0.6rem;
    width: 7rem;
    border-radius: 2rem;
    text-align: center;
    transition: 300ms;
}

.login__btn:hover{
    background-color: rgb(187, 56, 8);
    color: white;
}

.signup__btn{
    color: white;
    margin-top: 0.5rem;
}

.signup__btn::after{
    width: 0%;
    display: block;
    height: 0.2rem;
    background-color: white;
    content: '';
    transition: 300ms;
    margin: auto;
}

.signup__btn:hover::after{
    width: 100%;
}

/* Contents of the main body */

.main__body{
    padding: 1.5rem;
    height: 150vh;
    width: 80vw;
    margin-left: 18.15rem;
    padding-top: 6rem;
}



